/* CSS RESET */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    // defines what 1 rem is
    /* To avoid overwritting the browsers default font size, use percentages */
    /*To get 10px, divide 10 / 16 to get 62.5 */
    font-size: 62.5%; // 10px;
}

body {
    box-sizing: border-box;
}